/***********************************
CSS Reset
************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************
Slide Show
************************************/
/*
http://stackoverflow.com/questions/14313825/
multiple-image-cross-fading-in-css-without-java-script
License: none (public domain)
*/
#crossfade > img {
    border-radius: 0 20px 0 20px;
    border: solid 5px;
    border-color: #1e3e4a; 
    width: 40%;
    max-height: 100%;
    height: 55%;
    position: absolute;s
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}

#crossfade > img:nth-child(2)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/******************************
Texts, fonts, colors
********************************/

h2, h3, h4 {
    font-family: 'Averia Libre', cursive;
} 

h1{
    font-family: 'Crushed', cursive;
    font-size: 2em;
    font-weight: 800;
    color: #ff853d;
    display: block;
    background: #ccc;
    border-radius: 0 20px 0 0;
    padding: 20px 0 0 30px;
}

h2{     
    font-family: 'Crushed', cursive;
    font-size: 3.5em;
    font-weight: 800;
    color: #ff853d;
    display: block;
    background: #ccc;
    border-radius: 0 0 0 20px;
    padding: 0 360px 20px 30px;

}

#bio{
    font-size: 2em;
    font-weight: 800;
    color: #ff853d;
    padding: 20px;
    background: #1e3e4a;
    border-radius: 0 20px 0 20px;
    border-color: #1e3e4a;
    border: solid 10px;
}

h3{
    font: bold;
    font-weight: 700;
    color: #;
}
h4{
    font: italic;
    font-weight: 500;
    color: #2e4564;
}
h5{
    letter-spacing: 1px;
    font-family:'Crushed', cursive;
    color: #ff853d;
    font-weight: 600;
}

p{
    color: #1e3e4a;
    font-weight: 600;
}

/******************************
General
********************************/
html{
	background-image: url(img/contemporary_china_2.png);
}
body{
    border-top: 20px #ccc;
}

.main-wrapper{
	width: 90%;
	margin: auto;
}
.col {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}
html,
body,
.main-wrapper{
	height: 100%
}

#me{
    padding-top:20px;
}
/***************************
Header
***************************/
.main-header {
	padding:20px;
	white-space: nowrap;
}

.main-content {
	float: right;
	padding: 6em 10% 0 10%;
	text-align: justify;
	background-color: #E6E6E6;
    width: 30%;
	height: 100%;
	display: block;
}
#bio{
	text-align: center;
	margin-right: -5px;
}
.slideshow{
	float: left;
	background-color: #52f7a3;
	height: 100%;
	width: 45%;
	padding-bottom: 75px;
}
.head{
    float: left;
}
.quote{
    height: 140px;
    width: 430px;
    border-radius: 5px;
    padding-left: 4px;
    }
/***************************
Navagation
***************************/

li a:hover {
	color: #52f7a3;
}

nav li{
	display: inline-block;
	border-radius: 7px;
	background-color: #e3f6a7;
	margin-right: 5px;
}
.home{
	margin-right: 5px;
}

nav a {
	font-weight: 800;
	color: #1e3e4a;
	display: block;
	text-align: center;
	padding: 10px 20px;
    text-decoration: none;
    font-size: 1.25em;
}
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
	vertical-align: center;
}

/***************************
Footer
***************************/
.logo {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

footer {
	text-align: center;
	font-size: .75em;
	padding: 20px;
	color: #ccc;
	clear: both;
}

/***************************
Resume page
***************************/
.resume{
	text-align: center;
}