body{
	background-image: url(img/contemporary_china_2.png);
	border-top: 50px solid #36e0B9;
}

img {
	max-width: 300px;
	max-height: 300px;
	text-align: center;
}

h1, h2 {
	color: #687f89;
	text-align: center;
	margin: auto 0;
	font-family: 'Biryani', sans-serif;
	background: color: red;
}